<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Office.Interop.Word" version="15.0.4420.1017" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="20.1.0.61" targetFramework="net472" />
  <package id="Syncfusion.DocIO.Wpf" version="20.1.0.61" targetFramework="net472" />
  <package id="Syncfusion.DocToPDFConverter.Wpf" version="20.1.0.61" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="20.1.0.61" targetFramework="net472" />
  <package id="Syncfusion.OfficeChart.Base" version="20.1.0.61" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="20.1.0.61" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.Wpf" version="20.1.0.60" targetFramework="net472" />
</packages>